In [29]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import networkx as nx

In [30]:
immo_dataset = pd.read_csv('get11kdata.csv')

immo_dataset.head()

,locality,property_type,subtype_property,price,type_of_sale,number_of_rooms,living_area,kitchen_fully_equiped,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_surface,habitable_surface,plot_land_surface,number_of_facades,has_swimming_pool,building_state
0,Hasselt,APARTMENT,APARTMENT,390000,residential_sale,2,NaN,NaN,No,No,Yes,29.0,No,NaN,103.0,NaN,NaN,No,NaN
1,Liège,APARTMENT,APARTMENT,125000,residential_sale,1,NaN,NaN,No,No,Yes,2.0,No,NaN,60.0,NaN,NaN,No,NaN
2,Gent,APARTMENT,APARTMENT,375000,residential_sale,3,NaN,NaN,No,No,Yes,12.0,No,NaN,138.0,NaN,NaN,No,NaN
3,Waterloo,HOUSE,HOUSE,425000,residential_sale,3,25.0,No,No,No,Yes,11.0,No,NaN,110.0,147.0,3.0,No,GOOD
4,Buggenhout,HOUSE,HOUSE,435000,residential_sale,6,NaN,NaN,No,No,Yes,NaN,No,NaN,260.0,NaN,NaN,No,NaN

In [31]:
immo_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11283 entries, 0 to 11282
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   locality               11283 non-null  object
 1   property_type          11283 non-null  object
 2   subtype_property       11283 non-null  object
 3   price                  11283 non-null  int64
 4   type_of_sale           11283 non-null  object
 5   number_of_rooms        11283 non-null  int64
 6   living_area            3408 non-null   float64
 7   kitchen_fully_equiped  3408 non-null   object
 8   is_furnished           11283 non-null  object
 9   has_open_fire          11283 non-null  object
 10  has_terrace            11283 non-null  object
 11  terrace_area           4658 non-null   float64
 12  has_garden             11283 non-null  object
 13  garden_surface         2465 non-null   float64
 14  habitable_surface      10670 non-null  float64
 15  plot_land_surface      2709 non-null   float64
 16  number_of_facades      2897 non-null   float64
 17  has_swimming_pool      11283 non-null  object
 18  building_state         3005 non-null   object
dtypes: float64(6), int64(2), object(11)
memory usage: 1.6+ MB

Data Cleaning

Fill empty values

In [32]:
immo_dataset = immo_dataset.replace({'Yes': 1, 'No': 0}) 
immo_dataset.head(40)

,locality,property_type,subtype_property,price,type_of_sale,number_of_rooms,living_area,kitchen_fully_equiped,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_surface,habitable_surface,plot_land_surface,number_of_facades,has_swimming_pool,building_state
0,Hasselt,APARTMENT,APARTMENT,390000,residential_sale,2,NaN,NaN,0,0,1,29.0,0,NaN,103.0,NaN,NaN,0,NaN
1,Liège,APARTMENT,APARTMENT,125000,residential_sale,1,NaN,NaN,0,0,1,2.0,0,NaN,60.0,NaN,NaN,0,NaN
2,Gent,APARTMENT,APARTMENT,375000,residential_sale,3,NaN,NaN,0,0,1,12.0,0,NaN,138.0,NaN,NaN,0,NaN
3,Waterloo,HOUSE,HOUSE,425000,residential_sale,3,25.0,0.0,0,0,1,11.0,0,NaN,110.0,147.0,3.0,0,GOOD
4,Buggenhout,HOUSE,HOUSE,435000,residential_sale,6,NaN,NaN,0,0,1,NaN,0,NaN,260.0,NaN,NaN,0,NaN
5,Verviers,HOUSE,HOUSE,260000,residential_sale,4,NaN,NaN,0,0,1,20.0,1,170.0,141.0,NaN,NaN,0,NaN
6,Gent,APARTMENT,APARTMENT,174000,residential_sale,2,NaN,NaN,0,0,1,20.0,0,NaN,60.0,NaN,NaN,0,NaN
7,La Louviere,APARTMENT,APARTMENT,299999,residential_sale,2,NaN,NaN,0,0,1,7.0,0,NaN,89.0,NaN,NaN,0,NaN
8,Wenduine (De Haan),APARTMENT,APARTMENT,129000,residential_sale,0,NaN,NaN,0,0,0,NaN,0,NaN,34.0,NaN,NaN,0,NaN
9,Vilvoorde Peutie,HOUSE,HOUSE,339000,residential_sale,2,28.0,1.0,0,0,1,10.0,0,NaN,120.0,80.0,2.0,0,AS_NEW
10,Courcelles,HOUSE,HOUSE,399900,residential_sale,6,35.0,0.0,0,0,1,25.0,1,500.0,230.0,909.0,3.0,0,GOOD
11,Grivegnée,APARTMENT,APARTMENT,150000,residential_sale,1,NaN,NaN,0,0,1,6.0,0,NaN,75.0,NaN,NaN,0,NaN
12,Boussu Hornu,HOUSE,HOUSE,95000,residential_sale,3,NaN,NaN,0,0,0,NaN,0,NaN,NaN,NaN,NaN,0,NaN
13,Berchem,APARTMENT,APARTMENT,337000,residential_sale,2,NaN,NaN,0,1,1,13.0,1,17.0,74.0,NaN,NaN,0,NaN
14,Liege,APARTMENT,APARTMENT,275000,residential_sale,3,38.0,0.0,0,0,1,6.0,0,NaN,NaN,NaN,3.0,0,AS_NEW
15,Waterloo,HOUSE,HOUSE,1490000,residential_sale,3,NaN,NaN,0,0,1,NaN,0,NaN,496.0,NaN,NaN,1,NaN
16,Wenduine,APARTMENT,APARTMENT,235000,residential_sale,2,NaN,NaN,0,0,0,NaN,0,NaN,65.0,NaN,NaN,0,NaN
17,Charleroi,APARTMENT,APARTMENT,164999,residential_sale,3,NaN,NaN,1,0,0,NaN,0,NaN,118.0,NaN,NaN,0,NaN
18,Hamme,HOUSE,HOUSE,449000,residential_sale,4,39.0,0.0,0,0,1,50.0,1,576.0,242.0,673.0,4.0,0,TO_RENOVATE
19,Asse,HOUSE,HOUSE,295000,residential_sale,3,25.0,1.0,0,0,0,NaN,0,NaN,137.0,350.0,2.0,0,NaN
20,Knokke-Heist,APARTMENT,APARTMENT,695000,residential_sale,2,NaN,NaN,1,0,1,4.0,0,NaN,60.0,NaN,NaN,0,NaN
21,Ixelles,HOUSE,HOUSE,6500000,residential_sale,10,NaN,NaN,0,0,1,NaN,1,880.0,1687.0,NaN,NaN,0,NaN
22,Zellik,APARTMENT,APARTMENT,215000,residential_sale,2,NaN,NaN,0,0,1,NaN,0,NaN,72.0,NaN,NaN,0,NaN
23,Uccle,APARTMENT,APARTMENT,1950000,residential_sale,3,NaN,NaN,0,0,1,140.0,0,NaN,227.0,NaN,NaN,0,NaN
24,Knokke-Heist,APARTMENT,APARTMENT,1295000,residential_sale,3,NaN,NaN,1,0,1,6.0,0,NaN,104.0,NaN,NaN,0,NaN
25,Uccle,HOUSE,HOUSE,795000,residential_sale,3,25.0,1.0,0,0,1,NaN,1,70.0,186.0,132.0,2.0,0,AS_NEW
26,Bruxelles,APARTMENT,APARTMENT,1485000,residential_sale,3,59.0,1.0,0,0,1,26.0,0,NaN,192.0,NaN,2.0,0,AS_NEW
27,Uccle,APARTMENT,APARTMENT,1245000,residential_sale,3,NaN,NaN,0,0,1,28.0,0,NaN,163.0,NaN,NaN,0,NaN
28,Bruxelles,APARTMENT,APARTMENT,1450000,residential_sale,3,86.0,1.0,0,0,1,20.0,0,NaN,199.0,NaN,2.0,0,AS_NEW
29,Wezembeek-Oppem,HOUSE,HOUSE,650000,residential_sale,4,NaN,NaN,0,0,1,1.0,1,1.0,183.0,NaN,NaN,0,NaN
30,Bruxelles,APARTMENT,APARTMENT,1410000,residential_sale,3,86.0,1.0,0,0,1,23.0,0,NaN,184.0,NaN,2.0,0,AS_NEW
31,Gent,APARTMENT,APARTMENT,440000,residential_sale,3,NaN,NaN,0,1,1,11.0,0,NaN,111.0,NaN,NaN,0,NaN
32,Leuven,APARTMENT,APARTMENT,245000,residential_sale,1,NaN,NaN,0,0,1,10.0,0,NaN,59.0,NaN,NaN,0,NaN
33,Uccle,APARTMENT,APARTMENT,285000,residential_sale,1,NaN,NaN,0,0,1,13.0,0,NaN,68.0,NaN,NaN,0,NaN
34,Uccle,APARTMENT,APARTMENT,380000,residential_sale,2,NaN,NaN,0,0,1,43.0,0,NaN,87.0,NaN,NaN,0,NaN
35,Deinze,APARTMENT,APARTMENT,625000,residential_sale,3,92.0,1.0,0,0,1,27.0,0,NaN,246.0,NaN,4.0,0,GOOD
36,Berchem,APARTMENT,APARTMENT,269000,residential_sale,2,NaN,NaN,0,1,1,8.0,0,NaN,100.0,NaN,NaN,0,NaN
37,Liege,APARTMENT,APARTMENT,209000,residential_sale,2,31.0,0.0,0,0,1,29.0,0,NaN,97.0,NaN,3.0,0,GOOD
38,Anderlecht,APARTMENT,APARTMENT,250000,residential_sale,3,NaN,NaN,0,0,1,20.0,0,NaN,90.0,NaN,NaN,0,NaN
39,Arlon,APARTMENT,APARTMENT,320000,residential_sale,2,NaN,NaN,0,1,0,NaN,1,NaN,99.0,NaN,NaN,0,NaN

Data Analysis

In [33]:
immo_dataset.shape

(11283, 19)

In [34]:
immo_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11283 entries, 0 to 11282
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   locality               11283 non-null  object
 1   property_type          11283 non-null  object
 2   subtype_property       11283 non-null  object
 3   price                  11283 non-null  int64
 4   type_of_sale           11283 non-null  object
 5   number_of_rooms        11283 non-null  int64
 6   living_area            3408 non-null   float64
 7   kitchen_fully_equiped  3408 non-null   float64
 8   is_furnished           11283 non-null  int64
 9   has_open_fire          11283 non-null  int64
 10  has_terrace            11283 non-null  int64
 11  terrace_area           4658 non-null   float64
 12  has_garden             11283 non-null  int64
 13  garden_surface         2465 non-null   float64
 14  habitable_surface      10670 non-null  float64
 15  plot_land_surface      2709 non-null   float64
 16  number_of_facades      2897 non-null   float64
 17  has_swimming_pool      11283 non-null  int64
 18  building_state         3005 non-null   object
dtypes: float64(7), int64(7), object(5)
memory usage: 1.6+ MB

In [35]:
correlation_coefficient = immo_dataset['price'].corr(immo_dataset['habitable_surface'])
print(correlation_coefficient)

0.5241939716564977

Find correlation between price and other variables

In [36]:

pd.set_option('display.max_rows', None)  # Display all rows
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_colwidth', None)


def assign_region(locality):
    if locality in  ['Brussels', 'Ixelles', 'Etterbeek', 'Anderlecht', 'Schaarbeek', 'Molenbeek-Saint-Jean', 'Saint-Gilles', 'Uccle', 'Forest', 'Woluwe-Saint-Pierre', 'Woluwe-Saint-Lambert', 'Saint-Josse-ten-Noode', 'Evere', 'Ganshoren', 'Berchem-Sainte-Agathe', 'Koekelberg', 'Jette', 'Watermael-Boitsfort', 'Auderghem', 'Haren', 'Elsene']:  # List of localities in Brussels
        return 'Brussels'
    elif locality in ['Andenne', 'Ath', 'Beaumont', 'Binche', 'Bouillon', 'Charleroi', 'Chimay', 'Ciney', 'Couvin', 'Dinant', 'Doische', 'Durbuy', 'Erquelinnes', 'Fleurus', 'Florennes', 'Fontaine-l\'Evêque', 'Fosses-la-Ville', 'Gerpinnes', 'Hamois', 'Jemeppe-sur-Sambre', 'La Louvière', 'Le Roeulx', 'Lobbes', 'Mettet', 'Mons', 'Montigny-le-Tilleul', 'Mouscron', 'Namur', 'Nivelles', 'Peruwelz', 'Philippeville', 'Seneffe', 'Sivry-Rance', 'Soignies', 'Thuin', 'Tournai', 'Viroinval', 'Walcourt', 'Yvoir']:  # List of localities in Wallonia
        return 'Wallonia'
    else:  
        return 'Flanders'

immo_dataset['region'] = immo_dataset['locality'].apply(assign_region)

numeric_variable = immo_dataset.select_dtypes(include=['int', 'float'])
non_numeric_variable = immo_dataset.select_dtypes(include=['object'])
non_numeric_variable=non_numeric_variable.drop('locality',axis=1)
dummy_variables = pd.get_dummies(non_numeric_variable)
combined_data = pd.concat([numeric_variable, dummy_variables], axis=1)
correlation_matrix = combined_data.corr()['price'].drop('price')



print(correlation_matrix)

number_of_rooms                                  0.344995
living_area                                      0.121042
kitchen_fully_equiped                            0.296847
is_furnished                                     0.014979
has_open_fire                                   -0.035291
has_terrace                                      0.095502
terrace_area                                     0.292424
has_garden                                       0.052015
garden_surface                                   0.071479
habitable_surface                                0.524194
plot_land_surface                                0.273120
number_of_facades                                0.145207
has_swimming_pool                                0.227565
property_type_APARTMENT                         -0.037392
property_type_HOUSE                              0.037392
subtype_property_APARTMENT                      -0.037392
subtype_property_HOUSE                           0.037392
type_of_sale_annuity_monthly_amount             -0.040299
type_of_sale_first_session_with_reserve_price   -0.009540
type_of_sale_residential_sale                    0.040877
building_state_AS_NEW                            0.084295
building_state_GOOD                             -0.016355
building_state_JUST_RENOVATED                    0.016857
building_state_TO_BE_DONE_UP                    -0.029113
building_state_TO_RENOVATE                      -0.047802
building_state_TO_RESTORE                       -0.012662
region_Brussels                                  0.155076
region_Flanders                                 -0.107059
region_Wallonia                                 -0.066581
Name: price, dtype: float64

How are variables correlated to each other?

Which variables have the greatest influence on the price?

Which variables have the least influence on the price?

How many qualitative and quantitative variables are there? How would you transform these values into numerical values?

Percentage of missing values per column?

https://campus.datacamp.com/courses/data-manipulation-with-pandas/creating-and-visualizing-dataframes?ex=6

https://campus.datacamp.com/courses/dealing-with-missing-data-in-python/the-problem-with-missing-data?ex=5

In [37]:
missing_percentage = immo_dataset.isna().mean() * 100
print(missing_percentage)

locality                  0.000000
property_type             0.000000
subtype_property          0.000000
price                     0.000000
type_of_sale              0.000000
number_of_rooms           0.000000
living_area              69.795267
kitchen_fully_equiped    69.795267
is_furnished              0.000000
has_open_fire             0.000000
has_terrace               0.000000
terrace_area             58.716653
has_garden                0.000000
garden_surface           78.152973
habitable_surface         5.432952
plot_land_surface        75.990428
number_of_facades        74.324205
has_swimming_pool         0.000000
building_state           73.367012
region                    0.000000
dtype: float64

Step 3 : Data Interpretation

Plot the outliers.

Which variables would you delete and why ?

Represent the number of properties according to their surface using a histogram.

In your opinion, which 5 variables are the most important and why?

What are the most expensive municipalities in Belgium? (Average price, median price, price per square meter)

What are the most expensive municipalities in Wallonia? (Average price, median price, price per square meter)

What are the most expensive municipalities in Flanders? (Average price, median price, price per square meter)

What are the less expensive municipalities in Belgium? (Average price, median price, price per square meter)

What are the less expensive municipalities in Wallonia? (Average price, median price, price per square meter)

What are the less expensive municipalities in Flanders? (Average price, median price, price per square meter)