In [7]:
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
# Read the dataset into a pandas DataFrame
#data = pd.read_csv("your_dataset.csv")
# Select the numeric columns for correlation analysis
numeric_columns = immo_dataset.select_dtypes(include=['float64', 'int64']).columns

# Calculate the correlation using Pearson method
pearson_corr = immo_dataset[numeric_columns].corr(method='pearson')['price']

# Calculate the correlation using Spearman method
spearman_corr = immo_dataset[numeric_columns].corr(method='spearman')['price']

# Print the correlation values
print("Pearson correlation:\n", pearson_corr)
print("\nSpearman correlation:\n", spearman_corr)

In [2]:
immo_dataset = pd.read_csv('get11kdata.csv')

immo_dataset.head()

,locality,property_type,subtype_property,price,type_of_sale,number_of_rooms,living_area,kitchen_fully_equiped,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_surface,habitable_surface,plot_land_surface,number_of_facades,has_swimming_pool,building_state
0,Hasselt,APARTMENT,APARTMENT,390000,residential_sale,2,NaN,NaN,No,No,Yes,29.0,No,NaN,103.0,NaN,NaN,No,NaN
1,Liège,APARTMENT,APARTMENT,125000,residential_sale,1,NaN,NaN,No,No,Yes,2.0,No,NaN,60.0,NaN,NaN,No,NaN
2,Gent,APARTMENT,APARTMENT,375000,residential_sale,3,NaN,NaN,No,No,Yes,12.0,No,NaN,138.0,NaN,NaN,No,NaN
3,Waterloo,HOUSE,HOUSE,425000,residential_sale,3,25.0,No,No,No,Yes,11.0,No,NaN,110.0,147.0,3.0,No,GOOD
4,Buggenhout,HOUSE,HOUSE,435000,residential_sale,6,NaN,NaN,No,No,Yes,NaN,No,NaN,260.0,NaN,NaN,No,NaN

In [ ]:
immo_dataset.info()

Data Cleaning

Fill empty values

In [ ]:
immo_dataset = immo_dataset.replace({'Yes': 1, 'No': 0}) 
immo_dataset.head(40)

Data Analysis

In [5]:
immo_dataset.shape

(11283, 19)

In [ ]:
immo_dataset.info()

In [12]:
correlation_coefficient = immo_dataset['price'].corr(immo_dataset['habitable_surface'])
print(correlation_coefficient)

0.5241939716564978

Find correlation between price and other variables

How are variables correlated to each other?

Which variables have the greatest influence on the price?

Which variables have the least influence on the price?

How many qualitative and quantitative variables are there? How would you transform these values into numerical values?

Percentage of missing values per column?

https://campus.datacamp.com/courses/data-manipulation-with-pandas/creating-and-visualizing-dataframes?ex=6

https://campus.datacamp.com/courses/dealing-with-missing-data-in-python/the-problem-with-missing-data?ex=5

In [23]:
immo_dataset['missing_values'] = immo_dataset.isna().sum() /  11283
immo_dataset.head(10)

,locality,property_type,subtype_property,price,type_of_sale,number_of_rooms,living_area,kitchen_fully_equiped,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_surface,habitable_surface,plot_land_surface,number_of_facades,has_swimming_pool,building_state,missing_values
0,Hasselt,APARTMENT,APARTMENT,390000,residential_sale,2,NaN,NaN,0,0,1,29.0,0,NaN,103.0,NaN,NaN,0,NaN,NaN
1,Liège,APARTMENT,APARTMENT,125000,residential_sale,1,NaN,NaN,0,0,1,2.0,0,NaN,60.0,NaN,NaN,0,NaN,NaN
2,Gent,APARTMENT,APARTMENT,375000,residential_sale,3,NaN,NaN,0,0,1,12.0,0,NaN,138.0,NaN,NaN,0,NaN,NaN
3,Waterloo,HOUSE,HOUSE,425000,residential_sale,3,25.0,0.0,0,0,1,11.0,0,NaN,110.0,147.0,3.0,0,GOOD,NaN
4,Buggenhout,HOUSE,HOUSE,435000,residential_sale,6,NaN,NaN,0,0,1,NaN,0,NaN,260.0,NaN,NaN,0,NaN,NaN
5,Verviers,HOUSE,HOUSE,260000,residential_sale,4,NaN,NaN,0,0,1,20.0,1,170.0,141.0,NaN,NaN,0,NaN,NaN
6,Gent,APARTMENT,APARTMENT,174000,residential_sale,2,NaN,NaN,0,0,1,20.0,0,NaN,60.0,NaN,NaN,0,NaN,NaN
7,La Louviere,APARTMENT,APARTMENT,299999,residential_sale,2,NaN,NaN,0,0,1,7.0,0,NaN,89.0,NaN,NaN,0,NaN,NaN
8,Wenduine (De Haan),APARTMENT,APARTMENT,129000,residential_sale,0,NaN,NaN,0,0,0,NaN,0,NaN,34.0,NaN,NaN,0,NaN,NaN
9,Vilvoorde Peutie,HOUSE,HOUSE,339000,residential_sale,2,28.0,1.0,0,0,1,10.0,0,NaN,120.0,80.0,2.0,0,AS_NEW,NaN

Step 3 : Data Interpretation

Plot the outliers.

Which variables would you delete and why ?

Represent the number of properties according to their surface using a histogram.

In your opinion, which 5 variables are the most important and why?

What are the most expensive municipalities in Belgium? (Average price, median price, price per square meter)

What are the most expensive municipalities in Wallonia? (Average price, median price, price per square meter)

What are the most expensive municipalities in Flanders? (Average price, median price, price per square meter)

What are the less expensive municipalities in Belgium? (Average price, median price, price per square meter)

What are the less expensive municipalities in Wallonia? (Average price, median price, price per square meter)

What are the less expensive municipalities in Flanders? (Average price, median price, price per square meter)